@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../../public/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#card_we{
    background-image: url('../../public/assets/card-background.png')

}
#coursebg{
  background-image: url('../../public/assets/coursecardbg.png');
  width: 680px;
  height: 260px;
  

  
}

/* swiper cards */
.swiper {
  width: 320px;
  height: 400px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* text animation */

.animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  